<a href="https://colab.research.google.com/github/misramrinal/divyajoti-bhai-class/blob/main/Titanic_mrinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files

data = files.upload()

Saving train.csv to train (12).csv

In [ ]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Age']=df['Age'].fillna(method='ffill')

In [ ]:
df.drop('Cabin', axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [ ]:
common_value = 'S'
df["Embarked"] = df["Embarked"].fillna(common_value)
df["Embarked"].isnull().sum()

0

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

In [ ]:
df['Embarked']=le.fit_transform(df['Embarked'])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,2

In [ ]:
df.drop(['Name','Ticket'],axis=1, inplace=True)

In [ ]:
df['Sex']=le.fit_transform(df['Sex'])
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_fare = df['Fare']
scaled_fare = scaled_fare.values.reshape(-1, 1)
scaled_column = scaler.fit_transform(scaled_fare)
df['Fare'] = scaled_column

In [ ]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0            1         0       3    1  22.0      1      0  0.014151         2
1            2         1       1    0  38.0      1      0  0.139136         0
2            3         1       3    0  26.0      0      0  0.015469         2
3            4         1       1    0  35.0      1      0  0.103644         2
4            5         0       3    1  35.0      0      0  0.015713         2

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_age = df['Age']
scaled_age = scaled_age.values.reshape(-1, 1)
scaled_column = scaler.fit_transform(scaled_age)
df['Age'] = scaled_column
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,0.271174,1,0,0.014151,2
1,2,1,1,0,0.472229,1,0,0.139136,0
2,3,1,3,0,0.321438,0,0,0.015469,2
3,4,1,1,0,0.434531,1,0,0.103644,2
4,5,0,3,1,0.434531,0,0,0.015713,2

In [ ]:
from sklearn.preprocessing import OneHotEncoder as OHE
from sklearn.compose import ColumnTransformer

In [ ]:
ct = ColumnTransformer([('one_hot_encoder', OHE(categories='auto'), [8])],  remainder='passthrough')
x=ct.fit_transform(df)

In [ ]:
x

array([[0.        , 0.        , 1.        , ..., 1.        , 0.        ,
        0.01415106],
       [1.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.13913574],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.01546857],
       ...,
       [0.        , 0.        , 1.        , ..., 1.        , 2.        ,
        0.04577135],
       [1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.0585561 ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.01512699]])

In [ ]:
df['Embarked_S'] = x[:,0]
df['Embarked_C'] = x[:,1]
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Embarked_S,Embarked_C
0,1,0,3,1,0.271174,1,0,0.014151,2,0.0,0.0
1,2,1,1,0,0.472229,1,0,0.139136,0,1.0,0.0
2,3,1,3,0,0.321438,0,0,0.015469,2,0.0,0.0
3,4,1,1,0,0.434531,1,0,0.103644,2,0.0,0.0
4,5,0,3,1,0.434531,0,0,0.015713,2,0.0,0.0

In [ ]:
df.Pclass.unique()

array([3, 1, 2])

In [ ]:
df.drop(['Embarked'], axis=1, inplace=True)

In [ ]:
df.drop('PassengerId', axis=1, inplace=True)

In [ ]:
X=df.drop(['Survived'], axis=1)
Y=df['Survived']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(X, Y, test_size=0.2, random_state=1, stratify=Y)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

-------------------------------------------- LOGISTIC REGRESSION ----------------------------------

In [ ]:
lr = LogisticRegression(max_iter=1000).fit(x_train, y_train)

y_pred_lr = lr.predict(x_val)
print(lr.score(x_train, y_train))
print(accuracy_score(y_val,y_pred_lr))

0.800561797752809
0.8044692737430168

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_val)
score_knn = knn.score(x_val, y_val)
print(score_knn)
print(accuracy_score(y_val,y_pred))

0.8379888268156425
0.8379888268156425

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(criterion = 'log_loss', splitter = 'best', max_depth=16)
dtc = dtc.fit(x_train,y_train)
y_pred_dtc = dtc.predict(x_val)
score_dtc = dtc.score(x_val, y_val)
print(score_dtc)
print(accuracy_score(y_val,y_pred_dtc))

0.7877094972067039
0.7877094972067039

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(x_train, y_train)
y_pred_classifier = classifier.predict(x_val)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_val,y_pred_classifier))
print(classifier.score(x_train, y_train))

0.8268156424581006
0.8103932584269663

In [ ]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.model_selection import StratifiedKFold, GridSearchCV

cv = StratifiedKFold(n_splits=5, random_state=0,shuffle=True)
extra=ExtraTreesClassifier()
param_grid = {
    "random_state": [0],
    "n_estimators": [360],
    "max_depth": [32]
}
searchCV = GridSearchCV(estimator=ExtraTreesClassifier(), scoring='accuracy', cv=cv, param_grid=param_grid, verbose=True)
searchCV.fit(X, Y)


print('Best index:', searchCV.best_index_)
print('Best score:', searchCV.best_score_)
print('Best params:', searchCV.best_params_)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
Best index: 0
Best score: 0.7900759525453519
Best params: {'max_depth': 32, 'n_estimators': 360, 'random_state': 0}

In [ ]:
Extraclf = ExtraTreesClassifier(n_estimators=360, max_depth= 32, random_state=0)

Extraclf.fit(x_train, y_train)
y_pred_Extraclf= Extraclf.predict(x_val)
print(accuracy_score(y_val,y_pred_Extraclf))
print(Extraclf.score(x_train, y_train))

0.8044692737430168
0.9859550561797753

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=210,weights='distance', algorithm='kd_tree',leaf_size=30 )
neigh.fit(x_train, y_train)
y_pred_neigh = neigh.predict(x_val)
print(accuracy_score(y_val,y_pred_neigh))
print(neigh.score(x_train, y_train))

0.8268156424581006
0.9859550561797753

In [ ]:
data_test = files.upload()

Saving test.csv to test (2).csv

In [ ]:
test = pd.read_csv("test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked_S    0
Embarked_C    0
dtype: int64

In [ ]:
test['Age']=test['Age'].fillna(method='ffill')
test["Fare"] = test["Fare"].fillna(test['Fare'].mean())
test.drop(['Cabin','Name','Ticket'], axis=1, inplace=True)

In [ ]:
test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [ ]:
test['Embarked']=le.fit_transform(test['Embarked'])
test['Sex']=le.fit_transform(test['Sex'])

In [ ]:
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

In [ ]:
ct = ColumnTransformer([('one_hot_encoder', OHE(categories='auto'), [7])],  remainder='passthrough')
x=ct.fit_transform(test)

In [ ]:
test['Embarked_S'] = x[:,0]
test['Embarked_C'] = x[:,1]
test.drop('Embarked', axis=1, inplace=True)
test_new=test.drop('PassengerId', axis=1)

In [ ]:
x_test=test_new

In [ ]:
predictions= neigh.predict(x_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [ ]:
pd.DataFrame({"PassengerId":test['PassengerId'].values,
                "Survived":predictions,
                }).to_csv('Submission.csv',index=False)